/var/backups/{{ db_database }}.sql.gz {
    daily
    rotate 30
    nocompress
    create 640 root root

    postrotate
    mysqldump --single-transaction -u '{{ backup_db_user }}' --password='{{ backup_db_password }}' '{{ db_database }}' | gzip -9f > /var/backups/{{ db_database }}.sql.gz
    endscript
}
