server {
{% if cert_domain is defined %}
    listen 443 ssl;

    ssl_certificate         /etc/letsencrypt/live/{{ cert_domain }}/fullchain.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ cert_domain }}/chain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ cert_domain }}/privkey.pem;

    server_name {{ cert_domain }};
{% else %}
    listen 80;

    server_name {{ web_host }};
{% endif %}

    root {{ web_root }};

    index index.php;

    access_log /var/log/nginx/{{ web_host }}-access.log;
    error_log /var/log/nginx/{{ web_host }}-error.log;

    gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types application/javascript application/rss+xml application/vnd.ms-fontobject application/x-font application/x-font-opentype application/x-font-otf application/x-font-truetype application/x-font-ttf application/x-javascript application/xhtml+xml application/xml font/opentype font/otf font/ttf image/svg+xml image/x-icon text/css text/javascript text/plain text/xml;

    # Global restrictions configuration file.
    # Designed to be included in any server {} block.
    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    # Deny all attempts to access hidden files such as .htaccess, .htpasswd, .DS_Store (Mac).
    # Keep logging the requests to parse later (or to pass to firewall utilities such as fail2ban)
    location ~ /\.(?!well-known).+ {
        deny all;
    }

    try_files $uri $uri/ @rewrite;

    location @rewrite {
        rewrite ^/(.*)$ /index.php/$1;
    }

    #
    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #
    location ~ [^/]\.php(/|$) {
        fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        if (!-f $document_root$fastcgi_script_name) {
                return 404;
            }

        # Mitigate https://httpoxy.org/ vulnerabilities
        fastcgi_param HTTP_PROXY "";

        fastcgi_pass unix:/var/run/php/php-fpm.sock;
        fastcgi_index index.php;
        include fastcgi_params;

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}

{% if cert_domain is defined %}
server {
    listen 80;
    server_name {{ cert_domain }};

    return 301 https://{{ cert_domain }};
}
{% endif %}
